
<div class="d-flex align-items-center justify-content-center gap-3">
    <div class="spinner-border text-primary"></div>
    <div class="justify-content-center">@Content</div>
</div>

@code{
    [Parameter]
    public string Content { get; set; } = "Loading ...";

}