@page "/ActiveSessions/{UserId}"
@inherits BaseComponent

<div Class="d-flex flex-row align-items-center  justify-content-between  mb-3">
    <MudHidden Breakpoint="Breakpoint.Xs">
        <MudText Typo="Typo.h5" Color="Color.Primary">@_viewResources[ViewResources.UserSessions]</MudText>
    </MudHidden>
</div>

<UserSessions UserId="@UserId"/>


