@page "/Visits"
@inherits BaseComponent

@using WRMC.Infrastructure.Domain.Enums
<div Class="d-flex flex-row align-items-center  justify-content-between  mb-3">
    <h4>@_viewLocalizer[ViewResources.Visits]</h4>
    <div Class="d-flex flex-row align-items-center justify-content-between gap-3">
        <MudButton StartIcon="@Icons.Rounded.AddCircle"
                   Variant="Variant.Filled"
                   OnClick="()=>MakeAnAppointmentAsync()"
                   Color="Color.Primary">@_viewLocalizer[ViewResources.MakeAnAppointment]</MudButton>


    </div>
</div>


@foreach (var visit in VisitResponses.Where(x => x.Status == VisitStatusEnum.InProgress))
{//Visit
    <VisitTasks VisitId="@visit.Id"/>
}

